extends layout

block content
  h1= title
  br

  table(class="table")
    thead
      tr
        th doc ID
        th Type
        th Name
        th Flavour
        th Mass (g)
    tbody
      - each product in products
        tr
          td= product._id
          td= product.product_type
          td= product.product_name
          td= product.flavour
          td= product.mass
