extends layout

block content
  h1= title
  br

  table(class="table")
    thead
      tr
        th Name
        th Email
        th DoB
        th Weight (KG)
    tbody
      - each user in users
        tr
          td
            input(id = user._id, type="radio", name="RadioGroup")
          td= user.name
          td= user.email
          td= user.dob
          td= user.weight
